{{ define "partials/footer" }}
<footer>
    <div>
    <p>
        Data provided by <a href="https://joshuaproject.net" target="_blank" rel="noopener noreferrer">Joshua Project</a>
    </p>
    <p>
        Find my source code on <a href="https://github.com/WillMcCall/Ten2" target="_blank" rel="noopener noreferrer">Github</a>
    </p>
    <p>
        Contact me: 
        <a href="mailto:willmccall1121@gmail.com">willmccall1121@gmail.com</a> | 
        <a href="tel:+18475258579">847-525-8579</a>
    </p>
    </div>
</footer>
{{ end }}