{{ define "pages/countries" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/head" . }}
</head>
<body>
    {{ template "partials/header" . }}

    <main>
        <ul>
            <li><a href="/countries/ROU">Romania</a></li>
        </ul>
    </main>

    {{ template "partials/footer" . }}
</body>
</html>
{{ end }}