{{ define "pages/country" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/styles/country.css">
    {{ template "partials/head" . }}
</head>
<body>
    {{ template "partials/header" . }}

    <main>
        <section>
            <h1 class="country-header">{{ .country.Name }}</h1>

            <section class="country-info">
                <ul class="country-ul">
                    <li>Population: {{ .country.Population | formatNumberWithCommas }}</li>
                    <li>Christian Adherent: {{ .country.PercentChristianity | formatFloat}}%</li>
                    <li>Evangelical: {{ .country.PercentEvangelical | formatFloat }}%</li>
                    <li>Atheist: {{ .country.PercentNonReligious | formatFloat }}%</li>
                </ul>
            </section>

            <section id="country-map">
                <!-- This is where the map goes -->
            </section>
        </section>
    </main>

    {{ template "partials/footer" . }}
    <script>
    
    // Parse map JSON data from Go
    const mapData = {{ .mapJSON | safeJS }};

    Plotly.newPlot('country-map', mapData);
    
    </script>
</body>
</html>
{{ end }}