{{ define "pages/countries" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles/countries.css">
    {{ template "partials/head" . }}
</head>
<body>
    {{ template "partials/header" . }}

    <main>
        <ul>
            {{ range .Countries }}
            <li><a href="/countries/{{ .ISO3 }}">{{ .Name }}</a></li>
            {{ end }}            
        </ul>
    </main>

    {{ template "partials/footer" . }}
</body>
</html>
{{ end }}