{{ define "pages/rou" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {{ template "partials/head" . }}
</head>
<body>
    {{ template "partials/header" . }}

    <main>
        <section>
            <h1>Romania</h1>
            <section id="rou-map">
                <!-- This is where the map goes -->
            </section>
        </section>
    </main>

    {{ template "partials/footer" . }}
    <script>
    
    // Parse map JSON data from Go
    const mapData = {{ .mapJSON | safeJS }};

    Plotly.newPlot('rou-map', mapData);
    
    </script>
</body>
</html>
{{ end }}