<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ten2</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="#updates">Updates</a>
            <a href="#countries">Countries</a>
        </nav>
    </header>

    <main>
        <section>
            <h1>Welcome to my <a href="https://gemission.org/go/ten2project/" target="_blank" rel="noopener noreferrer">Ten2</a> Website!</h1>
        </section>
        
        <h2 id="map-title">Percent Evangelical by Country</h2>
        <section id="map">
            <!-- This is where the map goes -->
        </section>
    </main>

    <footer>
        <div>
        <p>
            Data from <a href="https://joshuaproject.net" target="_blank" rel="noopener noreferrer">Joshua Project</a>
        </p>
        <p>
            Contact me: 
            <a href="mailto:willmccall1121@gmail.com">will@bgconsulting.com</a> | 
            <a href="tel:+18475258579">847-525-8579</a>
        </p>
        </div>
    </footer>

    <script>
    
    // Parse map JSON data from Go
    const mapData = {{ .mapJSON | safeJS }};

    Plotly.newPlot('map', mapData);
    
    </script>
</body>
</html>
