<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ten2</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="#updates">Updates</a>
            <a href="#countries">Countries</a>
            <a href="#about">About</a>
        </nav>
    </header>

    <main>
        <section>
            <h1>Romania</h1>
            <section id="rou-map">
                <!-- This is where the map goes -->
            </section>
        </section>
    </main>

    <script>
    
    // Parse map JSON data from Go
    const mapData = {{ .mapJSON | safeJS }};

    Plotly.newPlot('rou-map', mapData);
    
    </script>
</body>
</html>
