:root {
    --light: #eee;
    --dark: #222;
    --link-color-light: #007BFF;
    --link-color-light-hover: #006adc;
    --link-color-dark: #66B2FF;
    --link-color-dark-hover: #74b9fe;
}

  
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }
    
    a {
        color: var(--link-color-dark);
    }

    a:hover {
        color: var(--link-color-dark-hover);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light);
        color: var(--dark);
    }
    
    a {
        color: var(--link-color-light);
    }

    a:hover {
        color: var(--link-color-light-hover);
    }
}
  

body {
    font-size: 11px;
    font-family: "Roboto", Arial, "Trebuchet MS", sans-serif;
    text-align: center;
    margin: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 2em;
}

#map-title {
    font-size: 2em;
    margin-top: 1em;
    padding-bottom: 0.5em;
}

#map {
    width: 100%;
    height: 200px;
}

nav {
    padding: 1rem;
}

nav a {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
    
    h1 {
        font-size: 3em;
        margin-bottom: 2em;
    }
    
    #map-title {
        margin-top: 1.5em;
        margin-bottom: 0px;
    }
    
    #map {
        height: 600px;
    }
    
    nav {
        padding: 1rem;
    }
    
    nav a {
        font-size: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}
